In [1]:
import pandas as pd
import numpy as np
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
import string
import warnings
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.neighbors import NearestNeighbors
import dtale
import pymongo
import csv
warnings.filterwarnings('ignore')

In [5]:
myclient = pymongo.MongoClient("mongodb+srv://lucas-deepen:DSIqP935gtFobYc2@cluster0.ixkyxa7.mongodb.net/?retryWrites=true&w=majority")
mydb = myclient["cleanpapers"]
mycol = mydb["cleanedf"]
mydoc = mycol.find({}, {"_id":1,"abstract":1})
df = pd.DataFrame(list(mydoc)).set_index(['_id'])

In [22]:
df.shape[0]

132820

In [20]:
df_abstract = df[df.abstract != '.'].iloc[:df.shape[0],:]

In [8]:
df_abstract

                                                   abstract
_id
35912857  Immunomodulation holds therapeutic promise aga...
35911768  Microglia are important resident immune cells ...
35911740  Regulatory T cells (Tregs) are normally born i...
35910379  Preclinical data indicate that fingolimod impr...
35909127  Infections by viruses including severe acute r...
...                                                     ...
34843225  To harness the full potential of halide perovs...
34843206  Glycine is an important biomarker in clinical ...
34843176  Educational attainment is a substantially heri...
34843172  Several studies have shown an association betw...
34843070  There is no compelling outcome data or clear g...

[50000 rows x 1 columns]

In [9]:
def clean_txt(text):
    
    text = text.lower()
    
    for punctuation in string.punctuation:
        
        text = text.replace(punctuation,'')
              
    text = ''.join(char for char in text if not char.isdigit()) 
    
    tokenized_text = word_tokenize(text)
    stop_words = set(stopwords.words('english')) 
    tokenized_sentence_cleaned = [w for w in tokenized_text 
                                  if not w in stop_words]
    
    verb_lemmatized = [WordNetLemmatizer().lemmatize(word, pos = "v")
              for word in tokenized_sentence_cleaned]
    
    noun_lemmatized = [WordNetLemmatizer().lemmatize(word, pos = "n")  # n --> nouns
               for word in verb_lemmatized]
        
    return " ".join(noun_lemmatized)

In [10]:
df_abstract.abstract = df_abstract.abstract.astype(str).apply(clean_txt)

In [11]:
tfidf_vectorizer = TfidfVectorizer(use_idf=False, 
                                   analyzer='word', 
                                   stop_words='english',
                                   max_df=0.6,min_df=15, 
                                   token_pattern=r'(?u)\b[A-Za-z]{4,}\b',
                                   max_features=10000)

tfidf_abstract = tfidf_vectorizer.fit_transform(df_abstract.abstract)

In [12]:
weighted_words = pd.DataFrame(tfidf_abstract.toarray(),
                 columns = tfidf_vectorizer.get_feature_names(),index=df_abstract.index)

In [13]:
weighted_words

,abandon,abbreviate,abca,abcd,abdomen,abdominal,aberrant,aberrantly,aberration,aberrationcorrected,...,youth,zealand,zebra,zebrafish,zero,zinc,zone,zoom,zscore,zscores
_id,,,,,,,,,,,,,,,,,,,,,
35912857,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35911768,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35911740,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35910379,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35909127,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34843225,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34843206,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34843176,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34843172,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34843070,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [47]:
pd.DataFrame(weighted_words.sum()).sort_values(by=0)

                          0
bowtie             1.410031
danish             1.534699
selfadminister     1.546328
sizespecific       1.548338
kinesiophobia      1.578462
...                     ...
neuron          1719.887962
brain           1732.498938
cell            2090.254145
patient         2815.215629
study           3067.462066

[10000 rows x 1 columns]

In [14]:
df_1_1 = weighted_words[['brain','mouse','animal','image','vivo','injury',
                          'intravital','voltage','circuit','neuronal','multiphoton',
                         'optogenetics','preclinical']].replace('',0).astype(float)

#

df_1_1 = df_1_1.loc[~(df_1_1==0).all(axis=1)]
df_1_1

,brain,mouse,animal,image,vivo,injury,intravital,voltage,circuit,neuronal,multiphoton,optogenetics,preclinical
_id,,,,,,,,,,,,,
35912857,0.287348,0.191565,0.000000,0.000000,0.000000,0.095783,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
35911768,0.060971,0.060971,0.000000,0.000000,0.000000,0.060971,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
35911740,0.475651,0.047565,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
35910379,0.051367,0.667765,0.051367,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.051367
35909127,0.082549,0.165098,0.000000,0.000000,0.041274,0.041274,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
34843625,0.157676,0.000000,0.000000,0.157676,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
34843461,0.095893,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
34843455,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.149487,0.0,0.0,0.000000
34843364,0.105409,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
34843287,0.000000,0.000000,0.000000,0.072548,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000

In [37]:
df_1_1

,,brain,mouse,animal,image,vivo,injury,intravital,voltage,circuit,neuronal,multiphoton,optogenetics,preclinical
_id,PMID,,,,,,,,,,,,,
62f7b7e04c208a014ff2b53a,35912857,0.221163,0.147442,0.000000,0.0,0.000000,0.073721,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
62f7b7e04c208a014ff2b53b,35911768,0.059339,0.059339,0.000000,0.0,0.000000,0.059339,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
62f7b7e04c208a014ff2b53c,35911740,0.585206,0.058521,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
62f7b7e04c208a014ff2b53d,35910379,0.052414,0.681385,0.052414,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.052414
62f7b7e04c208a014ff2b53e,35909127,0.087622,0.175243,0.000000,0.0,0.043811,0.043811,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62f8992ba179e2905ea47625,35726097,0.595491,0.000000,0.059549,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
62f8992ba179e2905ea47626,35726059,0.000000,0.102598,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
62f8992ba179e2905ea47627,35726057,0.088736,0.000000,0.000000,0.0,0.088736,0.000000,0.0,0.0,0.0,0.177471,0.0,0.0,0.000000
62f8992ba179e2905ea47628,35726055,0.410152,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
62f8992ba179e2905ea47629,35726031,0.000000,0.181071,0.090536,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000

In [15]:
columns = df_1_1.columns

length_words = df_1_1.shape[1]
    
for index, row in df_1_1.iterrows():

    for column in columns:

        new_column = f'{column}_count'
        

        if row[column] > 0:
            
            df_1_1.loc[index, new_column] = 1


        elif row[column] == 0:

            df_1_1.loc[index, new_column] = 0

In [16]:

df_1_1['mean'] = (df_1_1[list(columns)].sum(axis=1)) / length_words

In [17]:
df_1_1['count'] = df_1_1.iloc[: , length_words:-1].sum(axis=1)

In [18]:
df_rank = df_1_1.sort_values(by=['count','mean'],ascending=False)[['count','mean']]
df_rank = df_rank.loc[~(df_rank==0).all(axis=1)]
df_rank

          count      mean
_id
34369928    9.0  0.099216
35478249    9.0  0.074950
34411280    8.0  0.105912
31043747    8.0  0.081177
23183856    8.0  0.062378
...         ...       ...
27147326    1.0  0.001921
35291442    1.0  0.001877
1846334     1.0  0.001849
35842308    1.0  0.001759
35129211    1.0  0.001624

[32588 rows x 2 columns]

In [19]:
df.loc[list(df_rank.index)][['abstract']].head(50)

                                                   abstract
_id
34369928  Imaging neuronal activities at single-cell res...
35478249  Recent advances combining two-photon calcium i...
34411280  The brain consists of neural circuits, which a...
31043747  A technology that simultaneously records membr...
23183856  Traumatic Brain Injury (TBI) afflicts more tha...
34636430  Positron emission tomography (PET) allows biom...
27615186  Optical imaging of voltage indicators is a pro...
30517041  Traumatic brain injuries introduce functional ...
35718324  Optogenetics has revolutionized the capability...
32717641  Recording the electrical activity of multiple ...
25411462  Genetically encoded voltage sensors expand the...
26052270  Neuronal activity is dominated by synaptic inp...
29501684  Traumatic brain injury (TBI) is to date one of...
23469209  Synaptic levels of the monoamine neurotransmit...
29341006  Since its discovery in the early 90s, BOLD sig...
35115567  Genetically encoded voltage indicators (GEVIs)...
35156923  Optical control of neural ensemble activity is...
23859961  Many people escape sudden death from ischemic ...
31068695  Neuronal-activity-dependent transcription coup...
32667774  Polyneuropathy is a disease involving multiple...
32116570  Electrical kindling, repeated brain stimulatio...
31732722  Multiple aspects of neural activity, from neur...
31987494  Previous studies indicated the involvement of ...
21694695  Migraine and its transformation to chronic mig...
26476852  Thanks to their flexibility, optical technique...
34031611  The use of optogenetics to regulate neuronal a...
35065250  Acute injuries or insults to the cortex, such ...
22821441  Spreading depolarizations are a key event in t...
35698178  Intravital imaging via two-photon microscopy (...
28566693  Non-invasive optical imaging of neuronal volta...
23695972  Optogenetics is the optical control of neurona...
33309867  The cerebral cortex has complex yet perfectly ...
34531329  In vivo time-lapse imaging has been a fruitful...
16958584  Traumatic brain injury (TBI) damages the hippo...
29986165  A major mystery of many types of neurological ...
34893595  To better understand the input-output computat...
31636534  Whole-brain volumetric microscopy techniques s...
31758973  Voltage imaging is the next generation of func...
32548365  Traumatic brain injury often leads to progress...
21976493  Cortical compression can be a significant prob...
26954754  We present a motion-free system for microendos...
19617885  To understand the cellular and circuit mechani...
23545255  One of the main instigators leading to cell de...
34354291  To understand neural circuit mechanisms underl...
29748648  In vivo two-photon calcium imaging provides de...
23142482  Multicellular neuronal activities should be in...
28749338  Monitoring voltage dynamics in defined neurons...
16958585  Traumatic brain injury is a leading cause of d...
30103345  In vivo calcium imaging is a powerful tool use...
33779289  Traumatic brain injury (TBI) causes long-lasti...

In [17]:
df.loc[df_rank.index[0]]['abstract']

'Imaging neuronal activities at single-cell resolution in awake behaving animals is a very powerful approach for the investigation of neural circuit functions in systems neuroscience. However, high absorbance and scattering of light in mammalian tissue limit intravital imaging mostly to superficial brain regions, leaving deep-brain areas, such as the hippocampus, out of reach for optical microscopy. In this video, we show the preparation and implantation of the custom-made imaging window to enable chronic in vivo imaging of the dorsal hippocampal CA1 region in head-fixed behaving mice. The custom-made window is supplemented with an infusion cannula that allows targeted delivery of viral vectors and drugs to the imaging area. By combining this preparation with wide-field imaging, we performed a long-term recording of neuronal activity using a fluorescent calcium indicator from large subsets of neurons in behaving mice over several weeks. We also demonstrated the applicability of this preparation for voltage imaging with single-spike resolution. High-performance genetically encoded indicators of neuronal activity and scientific CMOS cameras allowed the recurrent visualization of subcellular morphological details of single neurons at high temporal resolution. We also discuss the advantages and potential limitations of the described method and its compatibility with other imaging techniques.'