In [1]:
import pandas as pd
import numpy as np
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
import string
import warnings
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.neighbors import NearestNeighbors
import dtale
import pymongo
import csv
warnings.filterwarnings('ignore')

In [2]:
def get_data():

    """import data from MongoDB"""

    myclient = pymongo.MongoClient("mongodb+srv://lucas-deepen:DSIqP935gtFobYc2@cluster0.ixkyxa7.mongodb.net/?retryWrites=true&w=majority")
    mydb = myclient["cleanpapers"]
    mycol = mydb["cleanedf"]
    mydoc = mycol.find({}, {"_id":1,"articleTitle":1,"abstract":1,"pubDate":1,"affiliations":1})

    print('----------Data imported----------')

    return mydoc

In [3]:
def dataframe(mydoc,length=50000):

    """convert mongodb data to dataframe (full = 132820 rows)"""
    
    # data to dataframe and limit length
    print('start')
    df = pd.DataFrame(list(mydoc)).set_index(['_id'])
    print('finished')
    df = df[df.abstract != '.'].iloc[:length,:]

    # extract year from the pubDate column

    df['pubDate'] = df['pubDate'].str.extract(r'(\d{4})')

    print ('----------DataFrame created----------')

    print (df.head(15))

    return df

In [5]:
def cleaning(text):

    """cleaning function for the abstract"""

    # transform abtract words into lower case

    text = text.lower()

    # remove punctuations

    for punctuation in string.punctuation:

        text = text.replace(punctuation,'')

    # remove digits

    text = ''.join(char for char in text if not char.isdigit())

    # tokenize sentences

    tokenized_text = word_tokenize(text)

    # remove stop words

    stop_words = set(stopwords.words('english'))


    tokenized_sentence_cleaned = [w for w in tokenized_text
                                if not w in stop_words]

    # standardize verbs

    verb_lemmatized = [WordNetLemmatizer().lemmatize(word, pos = "v")
            for word in tokenized_sentence_cleaned]

    # standardize nouns

    noun_lemmatized = [WordNetLemmatizer().lemmatize(word, pos = "n")  # n --> nouns
            for word in verb_lemmatized]

    # re-join list into sentence

    cleaned_txt = " ".join(noun_lemmatized)

    return cleaned_txt

In [6]:
def tokenize(df):

    """generate tokenized dataframe"""

    df_ = df.copy()

    # apply clean function to abstracts

    df_.abstract = df_.abstract.astype(str).apply(cleaning)

    print ('----------Abstract cleaned----------')

    # intitialize vectorizer model

    tfidf_vectorizer = TfidfVectorizer(use_idf=False,
                                analyzer='word',
                                stop_words='english',
                                max_df=0.6,min_df=15,
                                token_pattern=r'(?u)\b[A-Za-z]{4,}\b',
                                max_features=10000)

    # fit_transform abstract

    tfidf_abstract = tfidf_vectorizer.fit_transform(df_.abstract)

    # create data frame with columns names

    weighted_words = pd.DataFrame(tfidf_abstract.toarray(),
                columns = tfidf_vectorizer.get_feature_names(),index=df_.index).round(2)

    print ('----------Abstract tokenized----------')

    print (weighted_words.head(15))

    return weighted_words

In [11]:
def rank(token,words=['brain','mouse','animal','image','vivo','injury','intravital','voltage','circuit','neuronal','multiphoton','optogenetics','preclinical']):

    """rank abstracts based on chosen words"""

    token_df = token.copy()

    # clean tokenized data frame

    selected_tokens = token_df[words].replace('',0).astype(float)

    # remove rows with only 0 results

    selected_tokens = selected_tokens.loc[~(selected_tokens==0).all(axis=1)]

    # create count columns (1 - chosen word was encountered / 0 - chosen word was not encountered)

    columns = selected_tokens.columns

    length_words = selected_tokens.shape[1]

    for index, row in selected_tokens.iterrows():

        for column in columns:

            new_column = f'{column}_count'

            if row[column] > 0:

                selected_tokens.loc[index, new_column] = 1

            elif row[column] == 0:

                selected_tokens.loc[index, new_column] = 0

    # get average frequency of chosen words

    selected_tokens['mean'] = (selected_tokens[list(columns)].sum(axis=1)) / length_words

    # get how many chosen words were encountered

    selected_tokens['count'] = selected_tokens.iloc[: , length_words:-1].sum(axis=1)

    # sort rank by 1. how many chosen words were encountered and 2. average frequency of chosen words

    df_rank = selected_tokens.sort_values(by=['count','mean'],ascending=False)[['count','mean']]

    # remove rows with only 0 values

    df_rank = df_rank.loc[~(df_rank==0).all(axis=1)]

    print ('----------Abstracts ranked----------')

    print (df_rank.head(15))

    return df_rank

In [14]:
ranked

          count      mean
_id
34369928    9.0  0.100000
35478249    9.0  0.073077
34411280    8.0  0.106154
31043747    8.0  0.080000
23183856    8.0  0.060769
...         ...       ...
27147326    1.0  0.001538
1846334     1.0  0.001538
35842308    1.0  0.001538
35291442    1.0  0.001538
35129211    1.0  0.001538

[32569 rows x 2 columns]

In [7]:
data = get_data()

----------Data imported----------

In [8]:
df = dataframe(data)

start
finished
----------DataFrame created----------
                                                   abstract  \
_id
34314384  Intracortical microelectrode arrays (MEA) can ...
33996894  Medulloblastoma is the most common malignant c...
33862118  Nod-like receptor family pyrin domain containi...
33691255  Mice with chronic cochlear implants can signif...
33332038  An Auditory Brainstem Implant (ABI) is a techn...
31201186  Tinnitus may have a very severe impact on the ...
35509538  Manufacturing of customized three-dimensional ...
35024600  Injectable hydrogel has the advantage to fill ...
34425566  The evaluation of the long-term stability of E...
33762926  Mitochondria are organelles responsible for bi...
33647494  Evolutions in cranioplasty have allowed for th...
33431445  A 42-year-old woman presented with fever, left...
33318954  An estimated 3.8 million traumatic brain injur...
33025785  Modern development of flexible electronics has...
35961580  Gut microbiota alterations might affect the de...

                                               articleTitle pubDate  \
_id
34314384  Neuropathological effects of chronically impla...    2021
33996894  Veliparib Is an Effective Radiosensitizing Age...    2021
33862118  The NLRP3-related inflammasome modulates pain ...    2021
33691255  Development of a chronically-implanted mouse m...    2021
33332038                            [Hearing without ears].    2020
31201186  An auditory brainstem implant for treatment of...    2019
35509538  Customized alloplastic cranioplasty of large b...    2022
35024600  Injectable hyaluronic acid hydrogel loaded wit...    2022
34425566  Long-term stability of the chronic epidural wi...    2021
33762926  Mitochondrial Behavior in Axon Degeneration an...    2021
33647494  Cranioplasty Using Customized 3-Dimensional-Pr...    2021
33431445  Skull base osteomyelitis with secondary cavern...    2021
33318954     An implantable helmet for studying repeat TBI.    2020
33025785  Conductive Hydrogel for a Photothermal-Respons...    2020
35961580  Microbiota-derived metabolite Indoles induced ...    2022

                                               affiliations
_id
34314384  Wu Tsai Neurosciences Institute, Stanford Univ...
33996894  Wu Tsai Neurosciences Institute, Stanford Univ...
33862118  Wu Tsai Neurosciences Institute, Stanford Univ...
33691255  Wu Tsai Neurosciences Institute, Stanford Univ...
33332038  Wu Tsai Neurosciences Institute, Stanford Univ...
31201186  Wu Tsai Neurosciences Institute, Stanford Univ...
35509538  Department of Mechanical Engineering, American...
35024600  Department of Mechanical Engineering, American...
34425566  Department of Mechanical Engineering, American...
33762926  Department of Mechanical Engineering, American...
33647494  Department of Mechanical Engineering, American...
33431445  Department of Mechanical Engineering, American...
33318954  Department of Mechanical Engineering, American...
33025785  Department of Mechanical Engineering, American...
35961580  Institute of Pulmonary Disease, Guangzhou Ches...

In [9]:
token = tokenize(df)

----------Abstract cleaned----------
----------Abstract tokenized----------
          abandon  abbreviate  abca  abcd  abdomen  abdominal  aberrant  \
_id
34314384      0.0         0.0   0.0   0.0      0.0        0.0       0.0
33996894      0.0         0.0   0.0   0.0      0.0        0.0       0.0
33862118      0.0         0.0   0.0   0.0      0.0        0.0       0.0
33691255      0.0         0.0   0.0   0.0      0.0        0.0       0.0
33332038      0.0         0.0   0.0   0.0      0.0        0.0       0.0
31201186      0.0         0.0   0.0   0.0      0.0        0.0       0.0
35509538      0.0         0.0   0.0   0.0      0.0        0.0       0.0
35024600      0.0         0.0   0.0   0.0      0.0        0.0       0.0
34425566      0.0         0.0   0.0   0.0      0.0        0.0       0.0
33762926      0.0         0.0   0.0   0.0      0.0        0.0       0.0
33647494      0.0         0.0   0.0   0.0      0.0        0.0       0.0
33431445      0.0         0.0   0.0   0.0      0.0        0.0       0.0
33318954      0.0         0.0   0.0   0.0      0.0        0.0       0.0
33025785      0.0         0.0   0.0   0.0      0.0        0.0       0.0
35961580      0.0         0.0   0.0   0.0      0.0        0.0       0.0

          aberrantly  aberration  aberrationcorrected  ...  youth  zealand  \
_id                                                    ...
34314384         0.0         0.0                  0.0  ...    0.0      0.0
33996894         0.0         0.0                  0.0  ...    0.0      0.0
33862118         0.0         0.0                  0.0  ...    0.0      0.0
33691255         0.0         0.0                  0.0  ...    0.0      0.0
33332038         0.0         0.0                  0.0  ...    0.0      0.0
31201186         0.0         0.0                  0.0  ...    0.0      0.0
35509538         0.0         0.0                  0.0  ...    0.0      0.0
35024600         0.0         0.0                  0.0  ...    0.0      0.0
34425566         0.0         0.0                  0.0  ...    0.0      0.0
33762926         0.0         0.0                  0.0  ...    0.0      0.0
33647494         0.0         0.0                  0.0  ...    0.0      0.0
33431445         0.0         0.0                  0.0  ...    0.0      0.0
33318954         0.0         0.0                  0.0  ...    0.0      0.0
33025785         0.0         0.0                  0.0  ...    0.0      0.0
35961580         0.0         0.0                  0.0  ...    0.0      0.0

          zebra  zebrafish  zero  zinc  zone  zoom  zscore  zscores
_id
34314384    0.0        0.0   0.0   0.0   0.0   0.0     0.0      0.0
33996894    0.0        0.0   0.0   0.0   0.0   0.0     0.0      0.0
33862118    0.0        0.0   0.0   0.0   0.0   0.0     0.0      0.0
33691255    0.0        0.0   0.0   0.0   0.0   0.0     0.0      0.0
33332038    0.0        0.0   0.0   0.0   0.0   0.0     0.0      0.0
31201186    0.0        0.0   0.0   0.0   0.0   0.0     0.0      0.0
35509538    0.0        0.0   0.0   0.0   0.0   0.0     0.0      0.0
35024600    0.0        0.0   0.0   0.0   0.0   0.0     0.0      0.0
34425566    0.0        0.0   0.0   0.0   0.0   0.0     0.0      0.0
33762926    0.0        0.0   0.0   0.0   0.0   0.0     0.0      0.0
33647494    0.0        0.0   0.0   0.0   0.0   0.0     0.0      0.0
33431445    0.0        0.0   0.0   0.0   0.0   0.0     0.0      0.0
33318954    0.0        0.0   0.0   0.0   0.0   0.0     0.0      0.0
33025785    0.0        0.0   0.0   0.0   0.0   0.0     0.0      0.0
35961580    0.0        0.0   0.0   0.0   0.0   0.0     0.0      0.0

[15 rows x 10000 columns]

In [12]:
ranked = rank(token)

----------Abstracts ranked----------
          count      mean
_id
34369928    9.0  0.100000
35478249    9.0  0.073077
34411280    8.0  0.106154
31043747    8.0  0.080000
23183856    8.0  0.060769
34636430    7.0  0.100769
27615186    7.0  0.090000
30517041    7.0  0.082308
35718324    7.0  0.079231
25411462    7.0  0.076923
32717641    7.0  0.076154
26052270    7.0  0.072308
23469209    7.0  0.071538
29501684    7.0  0.070769
35115567    7.0  0.070000

In [ ]:
'brain','mouse','animal','image','vivo','injury','intravital','voltage','circuit','neuronal','multiphoton','optogenetics','preclinical'

In [13]:
df.loc[ranked.index[0]]['abstract']

'Imaging neuronal activities at single-cell resolution in awake behaving animals is a very powerful approach for the investigation of neural circuit functions in systems neuroscience. However, high absorbance and scattering of light in mammalian tissue limit intravital imaging mostly to superficial brain regions, leaving deep-brain areas, such as the hippocampus, out of reach for optical microscopy. In this video, we show the preparation and implantation of the custom-made imaging window to enable chronic in vivo imaging of the dorsal hippocampal CA1 region in head-fixed behaving mice. The custom-made window is supplemented with an infusion cannula that allows targeted delivery of viral vectors and drugs to the imaging area. By combining this preparation with wide-field imaging, we performed a long-term recording of neuronal activity using a fluorescent calcium indicator from large subsets of neurons in behaving mice over several weeks. We also demonstrated the applicability of this preparation for voltage imaging with single-spike resolution. High-performance genetically encoded indicators of neuronal activity and scientific CMOS cameras allowed the recurrent visualization of subcellular morphological details of single neurons at high temporal resolution. We also discuss the advantages and potential limitations of the described method and its compatibility with other imaging techniques.'

In [25]:
data = get_data()

----------Data imported----------

In [ ]:
df = dataframe(data)

start

In [25]:
df['Year']=df['pubDate'].str.extract(r'(\d{4})')

In [29]:
df.Year.value_counts()

2021    51141
2022    46252
2020    13970
2019     2954
2018     2604
2017     1981
2015     1833
2016     1785
2014     1616
2013     1170
2012      841
2011      724
2010      602
2009      544
2008      531
2007      438
2006      406
2004      337
2005      326
2003      280
2002      265
2000      221
2001      216
1996      204
1999      193
1998      185
1997      176
1995      143
1994      129
1993      108
1991       90
1992       84
1990       76
1989       65
1987       47
1988       45
1984       34
1986       27
1985       27
2023       26
1981       23
1983       20
1982       15
1976       12
1975       11
1977       10
1978       10
1980        9
1979        8
1968        2
1973        1
1971        1
1974        1
1972        1
Name: Year, dtype: int64

In [10]:
df['pubDate']=df['pubDate'].str.extract(r'(\d{4})')

In [21]:
df.sample(10)

,abstract,articleTitle,pubDate,affiliations,Year
_id,,,,,
35906351,MicroRNAs have been recognized as important re...,Trehalose Attenuates Learning and Memory Impai...,2022,"P.R. China., P.R. China., P.R. China., P.R. Ch...",2022
34081908,Cell death events continuously challenge epith...,Collective ERK/Akt activity waves orchestrate ...,2021,"Department of Ophthalmology, Stanford Universi...",2021
34777045,The pandemic has highlighted the importance of...,"Changes in Social, Romantic, and General Life ...",2021,"United Kingdom., United Kingdom., United Kingd...",2021
35690493,Lewy Body Dementia is the second most frequent...,Recent advances in Lewy body dementia: A compr...,2022,"Department of Psychology, Pusan National Unive...",2022
33862118,Nod-like receptor family pyrin domain containi...,The NLRP3-related inflammasome modulates pain ...,2021,"Wu Tsai Neurosciences Institute, Stanford Univ...",2021
34690623,Subclinical vitamin D (vitD) deficiency enhanc...,'Co-administration of vitamin D3 and DG incr...,2021,"Department of Oncology and Molecular Medicine,...",2021
34595791,There is a growing interest in the neuroscienc...,'Whole-brain high-resolution metabolite mappi...,2022,"100101, China., 100101, China., 200031, China....",2022
34402739,Constraining knee flexion of non-disabled indi...,Compensatory Strategies Due to Knee Flexion Co...,2022,"FL 33458., FL 33458., FL 33458.",2022
35332139,The staging and local management of breast can...,Intratumoral in vivo staging of breast cancer ...,2022,J. Philip Kistler Stroke Research Center (V.P....,2022
34763266,To report the clinical outcome of nicotine exp...,Precision treatment with nicotine in autosomal...,2021,"Genoa, Italy., Genoa, Italy., Genoa, Italy., G...",2021

In [9]:
df.Year.unique()

array(['2022', '2021', '2020', '2019', '2023', '2018', '2017', '2016',
       '2015', '2014', '2013', '2012', '2011', '2010', '2009', '2008',
       '2007', '2001', '1998', '2006', '2005', '2002', '2004', '2003',
       '1999', '2000', '1997', '1996', '1995', '1994', '1993', '1992',
       '1991', '1990', '1989', '1988', '1987', '1986', '1985', '1984',
       '1983', '1982', '1981', '1980', '1979', '1978', '1977', '1976',
       '1975', '1973', '1971', '1974', '1972', '1968'], dtype=object)

In [3]:
df.shape[0]

132820

In [4]:
df_abstract = df[df.abstract != '.'].iloc[:df.shape[0],:]

In [5]:
df_abstract.shape[0]

132813

In [9]:
def clean_txt(text):
    
    text = text.lower()
    
    for punctuation in string.punctuation:
        
        text = text.replace(punctuation,'')
              
    text = ''.join(char for char in text if not char.isdigit()) 
    
    tokenized_text = word_tokenize(text)
    stop_words = set(stopwords.words('english')) 
    tokenized_sentence_cleaned = [w for w in tokenized_text 
                                  if not w in stop_words]
    
    verb_lemmatized = [WordNetLemmatizer().lemmatize(word, pos = "v")
              for word in tokenized_sentence_cleaned]
    
    noun_lemmatized = [WordNetLemmatizer().lemmatize(word, pos = "n")  # n --> nouns
               for word in verb_lemmatized]
        
    return " ".join(noun_lemmatized)

In [10]:
df_abstract.abstract = df_abstract.abstract.astype(str).apply(clean_txt)

In [11]:
tfidf_vectorizer = TfidfVectorizer(use_idf=False, 
                                   analyzer='word', 
                                   stop_words='english',
                                   max_df=0.6,min_df=15, 
                                   token_pattern=r'(?u)\b[A-Za-z]{4,}\b',
                                   max_features=10000)

tfidf_abstract = tfidf_vectorizer.fit_transform(df_abstract.abstract)

In [12]:
weighted_words = pd.DataFrame(tfidf_abstract.toarray(),
                 columns = tfidf_vectorizer.get_feature_names(),index=df_abstract.index)

In [13]:
weighted_words

,abandon,abbreviate,abca,abcd,abdomen,abdominal,aberrant,aberrantly,aberration,aberrationcorrected,...,youth,zealand,zebra,zebrafish,zero,zinc,zone,zoom,zscore,zscores
_id,,,,,,,,,,,,,,,,,,,,,
35912857,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35911768,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35911740,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35910379,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35909127,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34843225,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34843206,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34843176,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34843172,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34843070,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [47]:
pd.DataFrame(weighted_words.sum()).sort_values(by=0)

                          0
bowtie             1.410031
danish             1.534699
selfadminister     1.546328
sizespecific       1.548338
kinesiophobia      1.578462
...                     ...
neuron          1719.887962
brain           1732.498938
cell            2090.254145
patient         2815.215629
study           3067.462066

[10000 rows x 1 columns]

In [14]:
df_1_1 = weighted_words[['brain','mouse','animal','image','vivo','injury',
                          'intravital','voltage','circuit','neuronal','multiphoton',
                         'optogenetics','preclinical']].replace('',0).astype(float)

#

df_1_1 = df_1_1.loc[~(df_1_1==0).all(axis=1)]
df_1_1

,brain,mouse,animal,image,vivo,injury,intravital,voltage,circuit,neuronal,multiphoton,optogenetics,preclinical
_id,,,,,,,,,,,,,
35912857,0.287348,0.191565,0.000000,0.000000,0.000000,0.095783,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
35911768,0.060971,0.060971,0.000000,0.000000,0.000000,0.060971,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
35911740,0.475651,0.047565,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
35910379,0.051367,0.667765,0.051367,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.051367
35909127,0.082549,0.165098,0.000000,0.000000,0.041274,0.041274,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
34843625,0.157676,0.000000,0.000000,0.157676,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
34843461,0.095893,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
34843455,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.149487,0.0,0.0,0.000000
34843364,0.105409,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
34843287,0.000000,0.000000,0.000000,0.072548,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000

In [37]:
df_1_1

,,brain,mouse,animal,image,vivo,injury,intravital,voltage,circuit,neuronal,multiphoton,optogenetics,preclinical
_id,PMID,,,,,,,,,,,,,
62f7b7e04c208a014ff2b53a,35912857,0.221163,0.147442,0.000000,0.0,0.000000,0.073721,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
62f7b7e04c208a014ff2b53b,35911768,0.059339,0.059339,0.000000,0.0,0.000000,0.059339,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
62f7b7e04c208a014ff2b53c,35911740,0.585206,0.058521,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
62f7b7e04c208a014ff2b53d,35910379,0.052414,0.681385,0.052414,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.052414
62f7b7e04c208a014ff2b53e,35909127,0.087622,0.175243,0.000000,0.0,0.043811,0.043811,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62f8992ba179e2905ea47625,35726097,0.595491,0.000000,0.059549,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
62f8992ba179e2905ea47626,35726059,0.000000,0.102598,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
62f8992ba179e2905ea47627,35726057,0.088736,0.000000,0.000000,0.0,0.088736,0.000000,0.0,0.0,0.0,0.177471,0.0,0.0,0.000000
62f8992ba179e2905ea47628,35726055,0.410152,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
62f8992ba179e2905ea47629,35726031,0.000000,0.181071,0.090536,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000

In [15]:
columns = df_1_1.columns

length_words = df_1_1.shape[1]
    
for index, row in df_1_1.iterrows():

    for column in columns:

        new_column = f'{column}_count'
        

        if row[column] > 0:
            
            df_1_1.loc[index, new_column] = 1


        elif row[column] == 0:

            df_1_1.loc[index, new_column] = 0

In [16]:

df_1_1['mean'] = (df_1_1[list(columns)].sum(axis=1)) / length_words

In [17]:
df_1_1['count'] = df_1_1.iloc[: , length_words:-1].sum(axis=1)

In [18]:
df_rank = df_1_1.sort_values(by=['count','mean'],ascending=False)[['count','mean']]
df_rank = df_rank.loc[~(df_rank==0).all(axis=1)]
df_rank

          count      mean
_id
34369928    9.0  0.099216
35478249    9.0  0.074950
34411280    8.0  0.105912
31043747    8.0  0.081177
23183856    8.0  0.062378
...         ...       ...
27147326    1.0  0.001921
35291442    1.0  0.001877
1846334     1.0  0.001849
35842308    1.0  0.001759
35129211    1.0  0.001624

[32588 rows x 2 columns]

In [19]:
df.loc[list(df_rank.index)][['abstract']].head(50)

                                                   abstract
_id
34369928  Imaging neuronal activities at single-cell res...
35478249  Recent advances combining two-photon calcium i...
34411280  The brain consists of neural circuits, which a...
31043747  A technology that simultaneously records membr...
23183856  Traumatic Brain Injury (TBI) afflicts more tha...
34636430  Positron emission tomography (PET) allows biom...
27615186  Optical imaging of voltage indicators is a pro...
30517041  Traumatic brain injuries introduce functional ...
35718324  Optogenetics has revolutionized the capability...
32717641  Recording the electrical activity of multiple ...
25411462  Genetically encoded voltage sensors expand the...
26052270  Neuronal activity is dominated by synaptic inp...
29501684  Traumatic brain injury (TBI) is to date one of...
23469209  Synaptic levels of the monoamine neurotransmit...
29341006  Since its discovery in the early 90s, BOLD sig...
35115567  Genetically encoded voltage indicators (GEVIs)...
35156923  Optical control of neural ensemble activity is...
23859961  Many people escape sudden death from ischemic ...
31068695  Neuronal-activity-dependent transcription coup...
32667774  Polyneuropathy is a disease involving multiple...
32116570  Electrical kindling, repeated brain stimulatio...
31732722  Multiple aspects of neural activity, from neur...
31987494  Previous studies indicated the involvement of ...
21694695  Migraine and its transformation to chronic mig...
26476852  Thanks to their flexibility, optical technique...
34031611  The use of optogenetics to regulate neuronal a...
35065250  Acute injuries or insults to the cortex, such ...
22821441  Spreading depolarizations are a key event in t...
35698178  Intravital imaging via two-photon microscopy (...
28566693  Non-invasive optical imaging of neuronal volta...
23695972  Optogenetics is the optical control of neurona...
33309867  The cerebral cortex has complex yet perfectly ...
34531329  In vivo time-lapse imaging has been a fruitful...
16958584  Traumatic brain injury (TBI) damages the hippo...
29986165  A major mystery of many types of neurological ...
34893595  To better understand the input-output computat...
31636534  Whole-brain volumetric microscopy techniques s...
31758973  Voltage imaging is the next generation of func...
32548365  Traumatic brain injury often leads to progress...
21976493  Cortical compression can be a significant prob...
26954754  We present a motion-free system for microendos...
19617885  To understand the cellular and circuit mechani...
23545255  One of the main instigators leading to cell de...
34354291  To understand neural circuit mechanisms underl...
29748648  In vivo two-photon calcium imaging provides de...
23142482  Multicellular neuronal activities should be in...
28749338  Monitoring voltage dynamics in defined neurons...
16958585  Traumatic brain injury is a leading cause of d...
30103345  In vivo calcium imaging is a powerful tool use...
33779289  Traumatic brain injury (TBI) causes long-lasti...

In [17]:
df.loc[df_rank.index[0]]['abstract']

'Imaging neuronal activities at single-cell resolution in awake behaving animals is a very powerful approach for the investigation of neural circuit functions in systems neuroscience. However, high absorbance and scattering of light in mammalian tissue limit intravital imaging mostly to superficial brain regions, leaving deep-brain areas, such as the hippocampus, out of reach for optical microscopy. In this video, we show the preparation and implantation of the custom-made imaging window to enable chronic in vivo imaging of the dorsal hippocampal CA1 region in head-fixed behaving mice. The custom-made window is supplemented with an infusion cannula that allows targeted delivery of viral vectors and drugs to the imaging area. By combining this preparation with wide-field imaging, we performed a long-term recording of neuronal activity using a fluorescent calcium indicator from large subsets of neurons in behaving mice over several weeks. We also demonstrated the applicability of this preparation for voltage imaging with single-spike resolution. High-performance genetically encoded indicators of neuronal activity and scientific CMOS cameras allowed the recurrent visualization of subcellular morphological details of single neurons at high temporal resolution. We also discuss the advantages and potential limitations of the described method and its compatibility with other imaging techniques.'